.settings/
.metadata/
.project
.cproject
.loadpath
*.launch
Debug/
Release/
build/
*.o
*.obj
*.elf
*.bin
*.hex
*.map
*.lst
*.list
*.d
*.su
*.a
*.mk
subdir.mk
sources.mk
objects.mk
*.log
*.tmp
*.bak
*~
*.swp
.vscode/
CMakeFiles/
CMakeCashe.txt
cmake_install.cmake
Makefile
*.pyc
__pycache__/
